In [32]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [33]:
df = pd.read_csv("vegan_vegetarian_city_list.csv")
df.head()

,Unnamed: 0,city,population,area(km2),vegan_venue_count,vegetarian_venue_count
0,0,istanbul,15029231,5461.0,42,9
1,1,izmir,4320519,7340.0,15,3
2,2,ankara,4470800,2516.0,13,2
3,3,berlin,3748000,891.8,50,6
4,4,hamburg,5107429,196.0,11,0

In [34]:
sclaer = StandardScaler()
kmeans = KMeans(n_clusters=5)
cities = df.city

In [35]:
df.drop(columns=["Unnamed: 0", "city"], inplace=True)

In [23]:
data = scaler.fit_trans
kmeans.fit(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [24]:
df["clusters"] = kmeans.predict(df)

In [25]:
df["city"] = cities

In [27]:
df

,population,area(km2),vegan_venue_count,vegetarian_venue_count,clusters,city
0,15029231,5461.00,42,9,3,istanbul
1,4320519,7340.00,15,3,2,izmir
2,4470800,2516.00,13,2,2,ankara
3,3748000,891.80,50,6,2,berlin
4,5107429,196.00,11,0,4,hamburg
5,1456000,310.40,6,0,1,m√ºnih
6,8900000,1572.00,50,31,0,london
7,1086000,600.00,0,1,1,birmingham
8,7536000,177.00,18,17,0,washington
9,8623000,783.80,50,50,0,new york
10,6550000,10506.00,30,13,4,madrid
11,5515000,101.40,26,8,4,barcelona
12,2141000,105.40,26,4,1,paris
13,1715096,240.62,0,0,1,marseille
14,1192000,32.61,5,2,1,brussels
15,147000,213.80,4,3,1,helsinki
16,673469,454.00,3,0,1,oslo
17,122853,274.50,1,0,1,reykjav√≠k
18,1213822,88.25,6,1,1,copenhagen
19,821000,219.30,22,10,1,amsterdam
20,965232,188.00,7,1,1,stockholm
21,1031000,51.62,2,0,1,bern
22,1830000,87.88,9,1,1,zurich
23,119214,2586.00,1,0,1,luxembourg city
24,5928000,630.20,24,30,4,toronto
25,1889000,2255.00,4,2,1,viana
26,6320000,1255.00,26,14,4,rio de janeiro
27,3154152,412.00,13,2,2,athens
28,803900,641.00,2,1,1,zagreb
29,185000,111.00,0,0,1,nicosia